<div class="row">
	<div class="">
		<div class="col-md-12">
			<button class="btn btn-primary" ng-click="createInvoice()">Create Invoice</button>
		</div>
	</div>


	<div class="col-md-12">&nbsp;</div>

	<div class="" ng-if="createMode">
		<form name="invoice_form">
			<div class="col-md-2">
				<label>Discount</label>
				<input class="form-control" ng-change="calculatePrice()" ng-model="$parent.invoice.discount" type="number" max="99" min="0" />
			</div>

			<div class="col-md-5">
				<label>Products</label>
				<multiselect class="input-xlarge multiselect"
							 ng-model="$parent.selectedProducts"
							 ng-change="calculatePrice()"
							 options="item as item.name for item in selectProducts"
							 header="Products mulltiselect"
							 selected-header="products selected"
							 multiple="true"
							 complex-models="true" required
							 enable-filter="true"
							 filter-placeholder="Filter stuff..">
				</multiselect>

			</div>

			<div class="col-md-5">
				<label>Customer</label>
				<select class="form-control"
							 ng-model="$parent.invoice.customer_id"
							 ng-change="calculatePrice()"
							 ng-options="item.id as item.name for item in  selectCustomers">
				</select>
			</div>



			<div class="col-md-12">&nbsp;</div>

			<div>
				<div ng-repeat="product in $parent.selectedProducts" class="">
					<div class="col-md-6">{{product.name}}</div>
					<div class="col-md-6">
						<input class="form-control" ng-change="calculatePrice()" ng-model="product.quantity" type="number" min="1" />
					</div>
					<div class="clearfix">&nbsp;</div>
				</div>
			</div>

			<div class="col-md-12">&nbsp;</div>

			<div class="col-md-12">
				<h1>Total: {{invoice.total}}</h1>
			</div>
		</form>

	</div>

	<div class="col-md-12">&nbsp;</div>
	<div class="container">
		<table class="table table-bordered table-striped table-responsive" >
			<tr>
				<th >id</th>
				<th >Customer</th>
				<th >discount</th>
				<th >total</th>
				<th >created at</th>
			</tr>

			<tr ng-repeat="invoice in invoices">
				<td >{{invoice.id}}</td>
				<td >{{invoice.customer_id}}</td>
				<td >{{invoice.discount}}%</td>
				<td >{{invoice.total}}</td>
				<td >{{invoice.createdAt | date}}</td>
			</tr>

		</table>
	</div>


</div>